###############################################################################
# EverMoment
###############################################################################

# -----------------------------------------------------------------------------
# Betriebssystem
# -----------------------------------------------------------------------------

.DS_Store
Thumbs.db
desktop.ini

# -----------------------------------------------------------------------------
# Entwicklungsumgebungen
# -----------------------------------------------------------------------------

.vscode/
.idea/

# -----------------------------------------------------------------------------
# Logdateien
# -----------------------------------------------------------------------------

*.log

# -----------------------------------------------------------------------------
# Laufzeitmedien
# -----------------------------------------------------------------------------

/public/img/*
!/public/img/.gitkeep

/public/music/*
!/public/music/.gitkeep

# -----------------------------------------------------------------------------
# Laufzeitdaten
# -----------------------------------------------------------------------------

/storage/*.lock
/storage/*.txt

# -----------------------------------------------------------------------------
# Temporäre Dateien
# -----------------------------------------------------------------------------

*.tmp
*.bak
*.old